//Color
$color-primary: #3d5af1;
$color-primary-light: #22d1ee;
$color-primary-dark: #0e153a;

$color-secondary: #9c1de7;
$color-secondary-light: #574b90;
$color-secondary-dark: #581b98;

$color-tertiary: #e0c45c;
$color-tertiary-light: #fff98c;
$color-tertiary-dark: #cb3b3b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #777;
$color-grey-1: #999;
$color-grey-2: #333;

$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Border-radius
$border-radius-small: 0.3rem;
